<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User Details</title>
</head>
<body>
<h1>User Details</h1>
<table>
    <tr>
        <th>ID</th>
        <td th:text="${user.id}"></td>
    </tr>
    <tr>
        <th>NIP</th>
        <td th:text="${user.nip}"></td>
    </tr>
    <tr>
        <th>Email</th>
        <td th:text="${user.email}"></td>
    </tr>
    <tr>
        <th>Phone Number</th>
        <td th:text="${user.phoneNumber}"></td>
    </tr>
</table>
<a th:href="@{/users}">Back to List</a>
</body>
</html>